<h1>Add new poster</h1>

<form action="/add" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required>
        <label for="title">Poster name</label>
        <span class="helper-text" data-error="Enter name"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="text" class="validate" min="1" required>
        <label for="price">Poster price</label>
        <span class="helper-text" data-error="Enter price"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required>
        <label for="img">Poster URL</label>
        <span class="helper-text" data-error="Enter url"></span>
    </div>

    <button class="btn btn-primary">Add poster</button>
</form>